.input {
    padding: 3px 5px;
    --padding-top: 8px;
    --padding-bottom: 7px;
    --padding-start: 9px;
}

.button {
    border-radius: 20px;
}

.authBackground {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.authContainer {
    margin-top: 30%;
    height: fit-content;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    padding-bottom: 15px;
}

.img {
    height: 100px;
    margin-top: -80px;
    background-color: #ffffff;
}

.inputContainer {
    text-align: start;
    width: 86%;
    margin-left: 12px;
}

ion-button {
    margin: 20px 15px;
}

.checkboxContainer {
    margin-left: 7%;
    display: flex;
    margin-top: -20px;
}
.checkboxLabel{
    margin-top: 20px;
    outline: none;
}
ion-checkbox {
    outline: none;
    margin-right: 5px;
    margin-top: 13px;
}

.inputLabel {
    margin-bottom: 5px;
    font-size: 12px;
}
.authInput{
--borderd-width: 1px
}

.underline {
    text-decoration: underline;
}