<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons class="backButton" slot="start" text="Назад">
      <ion-back-button text='Назад'></ion-back-button>
    </ion-buttons>
    <ion-title class="header">
      Авторизация</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="authBackground">
    <div class="authContainer">
      <div class="authField">
        <ion-text color="dark">
          <h1>Авторизация</h1>
        </ion-text>
        <ion-item  class="inputContainer">
          <ion-label position="stacked"> Введите номер Вашего телефона</ion-label>
          <ion-input type="tel" placeholder="Введите номер телефона" class="authInput"></ion-input>
        </ion-item>
        <ion-select interface="popover" value="RUS">
          <ion-select-option value="RUS">русский</ion-select-option>
          <ion-select-option value="ENG">английский</ion-select-option>
        </ion-select>
        <ion-button (click)="onClick()" expand="block" fill="solid" shape="round">
          Получить СМС с кодом
        </ion-button>
        <div class="checkboxContainer" lines='none'>
          <ion-checkbox class="checkbox"></ion-checkbox>
          <ion-label>
            <p routerLink="/agreement" class="checkboxLabel"><ion-text class="underline">Пользовательское соглашение</ion-text></p>
          </ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>