<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Назад"></ion-back-button>
    </ion-buttons>
    <ion-title class="header" >
      Соглашение</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text color="dark" >
  <div class="container">
  <h1>Пользовательское соглашение</h1>
  <p>1.1. Настоящий сайт, расположенный по адресу: <a href="https://rtplatformionic.web.app/tabs/">https://rtplatformionic.web.app/tabs/</a>  (далее – «Сайт»), является интернет-сайтом, на котором Администрация Сайта (далее — Администрация) предоставляет информацию Пользователям о своей деятельности, а также предоставляет Пользователям возможность заключения агентских договоров для закупки товаров, представленных на Сайте.</p>
    
    <p> 1.2. Настоящее пользовательское соглашение об условиях пользования Сайтом (далее – Соглашение) применяется к любому использованию Сайта и к любым сообщениям, электронным письмам, любой размещаемой информации с использованием Сайта или схожих сервисов, обслуживаемых Сайтом (далее – «Сообщения»).</p>
    
    <p>  1.3. Осуществляя пользование Сайтом (загрузку любой из его страниц, написание и отправку сообщений Администрации, проч. действия с использованием Сайта) Пользователь соглашается с настоящим Соглашением и принимает его условия, становясь Пользователем Сайта.</p>
    
    <p> 1.4. Используя Сайт, Пользователь подтверждает, что:</p>
    
    <p> а) является дееспособным физическим лицом, достигшим 18 летнего возраста,  присоединившемся к настоящему Соглашению вф собственном интересе, либо таким лицом, выступающим на законных основаниях от имени и в интересах представляемого им юридического лица, либо является индивидуальным предпринимателем, при этом представляет интересы принадлежащего ему интернет-магазина;</p>
    
    <p>  б) данные (персональные данные), указанные в форме обратной связи Сайта или при регистрации на Сайте соответствует действительным;</p>
    
    <p>  в) ознакомился с условиями настоящего Соглашения в полном объеме;</p>
    
    <p> г) принимает все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений со своей стороны и обязуется их соблюдать;</p>
    
    <p> д) Соглашение (в том числе любая из его частей) может быть изменено Администрацией Сайта без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте либо доведения до сведения в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения;</p>
    
    <p>  е) обладает всеми необходимыми правами и полномочиями для акцепта Соглашения;</p>
    
    <p>  ё) использование Сайта будет осуществляться исключительно для целей, разрешенных настоящим Соглашением, с соблюдением его положений, а равно требований применимого права и общепринятой практики;</p>
    
    <p> ж) не будет совершать каких-либо действий, которые вступают в противоречие или препятствуют предоставлению Сайта или работе соответствующего оборудования, сетей, или программного обеспечения, с помощью которых предоставляется Сайт;</p>
    
    <p>  з) использование Сайта для конкретных целей не нарушает имущественных и/или личных неимущественных прав третьих лиц, а равно запретов и ограничений, установленных применимым правом, в том числе, законодательством РФ.</p>
    
    <p> 1.5. Если Пользователь не принимает настоящее Соглашение, то не может пользоваться Сайтом и не должен регистрироваться на Сайте и оставлять Сообщения на Сайте.</p>
    
    <p> 1.6. Используя Сайт, Пользователь подтверждает, что у него есть необходимое оборудование, программное обеспечение и возможность пользоваться Сайтом, электронная почта и доступ в Интернет. Пользователь понимает и соглашается, что Администрация Сайта не несет ответственности за то, как Сайт будет работать с системой Пользователя.</p>
    
    <p> 1.7. Сообщая свой e-mail, и номер телефона, другие свои данные, Пользователь дает согласие на использование указанных средств связи, а также третьими лицами, привлекаемыми ими для целей выполнения обязательств перед Пользователем, в том числе в целях осуществления рассылок рекламного, информационного и иного характера, в том числе содержащих информацию о скидках, предстоящих и действующих акциях и других мероприятиях, о передаче заказа в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств.</p>
</div>
</ion-text>
</ion-content>
